#xbps

#XBPS
alias i="doas xbps-install -Sy"
alias r="doas xbps-remove -R"
alias u="doas xbps-install -Syu"
alias q="doas xbps-query -Rs"
alias qi="doas xbps-query -l"
alias qs="doas xbps-query"

#Git
alias gs='git status'
alias gp='git push'
alias gl='git pull'
alias gc='git commit -m'
alias gc-a='git commit -am'
alias gp-o='git push origin'
alias gl-o='git pull origin'

#.dotfiles
alias .f='git --git-dir=$HOME/.dotfiles/ --work-tree=$HOME'
alias .fs='.f status'
alias .fa='.f add'
alias .fp='.f push'
alias .fc='.f commit -m'
alias .fc-a='.f commit -am'

#Runit services
alias sv_str="doas sv start"
alias sv_stp="doas sv stop"
alias sv_res="doas sv restart"
alias sv_lis="ls /var/service/"
alias sv_sts="doas sv status"

#General
alias ls="ls --color=auto"
alias ll="ls -lah"
alias la="ls -A"
alias grep="grep --color=auto"
alias ..="cd .."
alias ...="cd ../.."

#Nvim
alias vi="nvim"


#flatpak
alias fp="flatpak"
alias fpi="fp install flathub"

#alias brave="fpr com.brave.Browser"
