@import "../colorschemes/gruvbox/shared/colors.css";

* {
  all: unset;
  font-family: "Rubik", "JetBrainsMono Nerd Font", "Noto Sans CJK JP", "Noto Sans CJK KR"
}

tooltip {
  background-color: @bg1;
  color: @fg;
  padding: 10px;
  border-radius: 12px;
}

tooltip box {
  margin: 0px 10px;
}

.modules-center {
  background-color: @bg1;
  padding: 2px 25px;
  border-radius: 99px;
  color: @grey0;
}

#workspaces {
  background-color: @bg0;
  border-radius: 99px;
  padding: 6px 6px;
  margin: 2px 0;
  color: @grey0;
}

#workspaces button {
  padding: 2px 4px;
  margin: 0 2px;
  border-radius: 99px;
  transition: all 0.2s ease-in-out;
  min-width: 1.3rem;
}

#workspaces button.empty {
  color: gray;
}

#custom-power {
  margin: 5px;
  min-width: 2rem;
  background-color: @yellow;
  padding: 0 10px 0 15px;;
  border-radius: 99px;
  color: @bg0;
}

menu {
  border-radius: 15px;
  background: @bg1;
  color: @grey0;
  padding: 10px;
  border: none;
}
menuitem {
  margin: .1rem 0;
  padding: 5px;
  border-radius: 10px;
}

menuitem:hover {
  background-color: @yellow;
  color: @bg0;
}

#pulseaudio {
  min-width: 4rem;
}

#workspaces button.active {
  background-color: @yellow;
  min-width: 3rem;
  font-weight: 400;
  color: black;
}
